<!DOCTYPE html>
<html lang="de">
<head>
    <title>Alpaka Quiz</title>
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/client.css" rel="stylesheet">
    <script src="/webjars/chartjs/2.9.3/Chart.min.js"></script>
</head>
<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div id="join" style="display: none">
    <div class="container">
        <div class="alert-info alert">
            <form onsubmit="joinGame(); return false;">
                <div class="form-row align-items-center">
                    <div class="col-sm-12 my-1">
                        <label class="sr-only" for="quiz_pin">Quiz Pin</label>
                        <input class="form-control" id="quiz_pin" oninput="QUIZ_PIN.val(QUIZ_PIN.val().replace('/\\s/gi', ''));" placeholder="Quiz Pin" type="text">
                    </div>
                    <div class="col-sm-12 my-1">
                        <label class="sr-only" for="team_name">Team name</label>
                        <input class="form-control" id="team_name" placeholder="Team name" type="text">
                    </div>
                    <div class="col-sm-12 my-1">
                        <button class="btn btn-danger col-sm-12" type="submit">Join</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container" id="loader">
    <div class="text-center text-danger">
        <div class="spinner-border" role="status" style="width: 30rem; height: 30rem;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<div class="container" id="finals" style="display: none">
    <h1>
        <div class="alert alert-dark" role="alert">
            <div style="text-align: center;"> Quiz end!</div>
        </div>
    </h1>
    <div>
        <canvas class="bg-light" id="finalCharts"></canvas>
    </div>
</div>

<div class="container" id="question" style="display: none">
    <h1>
        <div class="alert alert-dark" role="alert">
            <div id="questionQuestion" style="text-align: center;"> What is your favourite color?</div>
        </div>
    </h1>
    <div>
        <h1>
            <div id="questionTime" style="text-align: center;"> 20</div>
        </h1>
    </div>

    <div class="container-fluid h-100">
        <div class="row h-75 h1">
            <button class="bg-success h-50 w-50" id="questionAnswerGreen" onclick="answerQuestion('green');">Green</button>
            <button class="bg-danger h-50 w-50" id="questionAnswerRed" onclick="answerQuestion('red');">Red</button>
            <button class="bg-warning h-50 w-50" id="questionAnswerYellow" onclick="answerQuestion('yellow');">Yellow</button>
            <button class="bg-primary h-50 w-50" id="questionAnswerBlue" onclick="answerQuestion('blue');">Blue</button>
        </div>
    </div>
</div>


<div class="container" id="answers" style="display: none">
    <h1>
        <div class="alert alert-dark" role="alert">
            <div id="answersQuestion" style="text-align: center;"> What is your favourite color?</div>
        </div>
    </h1>
    <div>
        <canvas class="bg-light" id="answersChart"></canvas>
    </div>
</div>

<div class="modal fade" id="joinErrorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">An error occurred while joining the game!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="joinErrorModalText">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="$('#joinErrorModal').modal('hide');">Close</button>
            </div>
        </div>
    </div>
</div>

</body>
<script src="/js/framework.js"></script>
<script src="/js/client.js"></script>
</html>

